# Dependencies
node_modules/
package-lock.json

.env

# Build output
dist/
build/
*.tsbuildinfo

# Prisma
prisma/generated/
/generated/prisma

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor
.vscode/*
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads (local development only)
backend/uploads/

# Test coverage
coverage/
*.md