node_modules

# Environment variables (IMPORTANT: Never commit these!)
.env
.env.local
.env.production

/generated/prisma
# Node
node_modules/

# Build output
dist/
*.tsbuildinfo

# Prisma
prisma/generated/

# Logs
npm-debug.log*
yarn-debug.log*
*.log

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/launch.json